= provide :title, @user.username

- present @user do |user_presenter|

  .one-third

    .profile
      %h1= @user.username

    .new_dish
      = user_presenter.new_dish_button(new_dish_path)

  .two-third

    .my_dishes
      %h2 My dishes
      = user_presenter.user_dishes_list
