- dishes.each do |dish|
  = div_for dish do
    .dish-name
      %h4= link_to dish.dish_name, dish_path(dish)
      %hr
    .comment-count
      = link_to pluralize(dish.comments.count, "comment"), dish_path(dish, anchor: "comments")
    .eat-date
      %cite.timeago{title: dish.eat_date}