.comments {
  margin-bottom: 60px;
}

.comment {
  display: inline-block;
  a { display: block; }
  hr { margin-bottom: 15px; }
}

.reply {
  font-size: 12px;
}

.add_comment {
  margin-bottom: 10px;
}

.nested_comments {
  margin-left: 2%;
}

#comment_content {
  width: 50%;
  height: 5em;
}