#header {
  overflow: hidden;
  background-color: #EEE;
  padding: 7px 15px 9px 15px;
  margin-bottom: 1.5em;

  a {
    color: #777;
    text-decoration: none;
  }
}
/*#header a {
  color: #ccc;
  text-decoration: none;
}
#header a:hover {
  color: #fff;
  text-decoration: underline;
}*/
/*#logo {
  float: left;
  position: relative;
  height: 24px;
  width: 105px;
  background: url(../img/logo.png) no-repeat;
}
#logo a {
  zoom: 1;
  display: block;
  height: 24px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {

  #logo {
    background: url(../img/logo2x.png) no-repeat;
    background-size: auto 24px;
  }

}
#auth-area {
  float: right;
  margin: 0;
  margin-top: 3px;
  margin-right: 60px;
  list-style: none;
  color: #aaa;
}
#auth-area li {
  float: left;
  line-height: 1;
  margin-right: 5px;
}
#auth-area li a, #auth-area li span {
  display: block;
  padding: 4px 8px;
}
#auth-area li #login-link {
  background-color: #666;
  color: #fff;
  border-radius: 3px;
}
#twitter-link {
  margin-top: 7px;
  float: right;
  line-height: 1;
  background: url(../img/twitter.png) no-repeat;
  padding-left: 17px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {

  #twitter-link {
    background: url(../img/twitter2x.png) no-repeat;
    background-size: auto 11px;
  }

}
*/