.dishes-list {

  padding-left: 5px;

  .dish {
    width: 10em;
    padding: 10px;
    margin: 5px 0;
    /*border: 1px solid black;*/
    @include box-shadow(0 0 2px 2px hsla(0, 0%, 0%, 0.25));
    text-align: center;
    background-color: #FEE;

    .dish-name {
      margin-bottom: 2em;
    }
  }
}

.empty-state {
  font-size: 32px;
  line-height: 1.2em;
  padding: 1em;
  text-align: center;
  width: 50%;
  margin: auto;

  @include media($mobile) {
    width: 80%;
  }
}
