= best_in_place_if current_user == User.find(@dish.user_id), 
                   @dish, :name, type: :input,
                   inner_class: "best_in_place",
                   classes: "hint hint--right hint--info",
                   data: { hint: "Click to edit" },
                   display_as: :dish_name