= best_in_place_if current_user == User.find(@dish.user_id),
                   @dish, 
                   :prep_time, type: :select,
                   collection: [[15, '15 minutes'],
                                [20, '20 minutes'], 
                                [30, '30 minutes'],
                                [45, '45 minutes'], 
                                [60, '1 hour'],
                                [90, '1 hour 30 minutes'],
                                [120, '2 hours'],
                                [150, '2 hours 30 minutes'],
                                [180, '3 hours']],
                   classes: "cite hint hint--right hint--info",
                   data: { hint: "Click to edit" },
                   display_with: lambda { |value| prep_time_in_words(value) }